@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Roboto+Condensed&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 1024px) {
    .mobile-rounded {
      border-radius: 5px !important;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .laptop-rounded {
      border-radius: 5px 0 0 5px;
    }
  }
  

